* {
    font-family: Arial, Helvetica, sans-serif;
    background: black;
    background-color: white;
    margin: 5px;
    padding: 5px;
}

img {
    width: 150px;
    height: 150px;
}

button {
    background: rgb(3, 184, 72);
    margin: 10px;
    padding: 10px;
}

